VITE_SUPABASE_URL=https://cyuzubkmrkinxnbzylrn.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImN5dXp1YmttcmtpbnhuYnp5bHJuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjIzODQ0NTYsImV4cCI6MjA3Nzk2MDQ1Nn0.YEDQRSJ4eiv_FSfOsBG4W0aOoKoLOzXctbpxde_qufwVITE_SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImN5dXp1YmttcmtpbnhuYnp5bHJuIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2MjM4NDQ1NiwiZXhwIjoyMDc3OTYwNDU2fQ.CKPyUmIOA5Zr01KzryDDkZuzub3Vq8YZkXdqVcfGYHg